<!DOCTYPE html>
<html>
    <head>
        <title>MIPS to binary</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--         <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" /> -->
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" media="screen">
    	<link rel="stylesheet" type="text/css" href="/static/css/github-light.css" media="screen">
    	<link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    </head>
	<body>
		<header>
		    <div class="inner">
		        <h1>Simple MIPS to Binary Converter</h1>
		        <h2>Ayy lmao</h2>
		        <a href="https://github.com/PiJoules/simple-MIPS-compiler" class="button"><small>View project on</small> GitHub</a>
		    </div>
		</header>

		<div id="content-wrapper">
		    <div class="inner clearfix">
		        <section id="main-content">
		            <h3><a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h3>

		            <p>Just enter valid MIPS code into the first text box below and the corresponding binary mips code will appear in the second text box.</p>
		            <p>All MIPS opcode and functions are referenced from <a href="http://www-inst.eecs.berkeley.edu/~cs61c/resources/MIPS_Green_Sheet.pdf">here</a>.</p>

		            <form class="translate">
						<textarea name="code" >
# Sample MIPS instruction set to test on
AYY:
addi $t0, $zero, 12 # save 12 number into t0
add $t0, $t1, $t2	# add t1(9) and t2(10) into t0(8)
and $t0, $t1, $t2
or $t0, $t1, $t2
LMAO: slt $t0, $t1, $t2
beq $t0, $t1, AYY
beq $t0, $t1, 12
sub $t0, $t1, $t2
beq $t0, $t1,LMAO
bne $t0, $t1,LMAO
j LMAO
lw $t0, 12($t0)
sw $t0, 12($t0)


						</textarea>
						<textarea class="form-control binary" placeholder="The binary MIPS code will be here if successful."></textarea>
						<button type="submit">Submit</button>
					</form>

		            <h3>Additional Info</h3>

		            <p>More information like the supported instructions and the freedom of truth is on the README in this repo.</p>
		        </section>

		        <aside id="sidebar">
		            <a href="https://github.com/PiJoules/simple-MIPS-compiler/zipball/master" class="button">
		                <small>Download</small> .zip file
		            </a>
		            <a href="https://github.com/PiJoules/simple-MIPS-compiler/tarball/master" class="button">
		                <small>Download</small> .tar.gz file
		            </a>

		            <p class="repo-owner"><a href="https://github.com/PiJoules/simple-MIPS-compiler">This application</a> is maintained by <a href="https://github.com/PiJoules">PiJoules</a>.</p>

		            <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>

		            <p>&copy; LOLOLOL</p>
		        </aside>
		    </div>
		</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/index.js"></script>
	</body>
</html>